<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dataservice.dao.mapper.PositionMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="dataservice.dao.domain.Position">
        <result column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="symbol" property="symbol"/>
        <result column="sec_type" property="secType"/>
        <result column="currency" property="currency"/>
        <result column="pos" property="pos"/>
        <result column="avg_cost" property="avgCost"/>
        <result column="gmt_create" property="gmtCreated"/>

    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `account`,
        `symbol`,
        `sec_type`,
        `currency`,
        `pos`,
        `avg_cost`,
        `gmt_create`
    </sql>

    <insert id="replace">
        REPLACE INTO `position`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.account != null"> `account`, </if>
            <if test="pojo.symbol != null"> `symbol`, </if>
            <if test="pojo.secType != null"> `sec_type`, </if>
            <if test="pojo.currency != null"> `currency`, </if>
            <if test="pojo.pos != null"> `pos`, </if>
            <if test="pojo.avgCost != null"> `avg_cost`, </if>
            <if test="pojo.exchange != null"> `exchange`, </if>

            gmt_create
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.account != null"> #{pojo.account}, </if>
            <if test="pojo.symbol != null"> #{pojo.symbol}, </if>
            <if test="pojo.secType != null"> #{pojo.secType}, </if>
            <if test="pojo.currency != null"> #{pojo.currency}, </if>
            <if test="pojo.pos != null"> #{pojo.pos}, </if>
            <if test="pojo.avgCost != null"> #{pojo.avgCost}, </if>
            <if test="pojo.exchange != null"> #{pojo.exchange}, </if>

            now()
        </trim>

    </insert>

    <select id="selectAll" resultMap="AllColumnMap">
        select * from `position`
    </select>
</mapper>
